## Advanced SQL Puzzles

In [1]:
import pandas as pd

### Puzzle 1

In [2]:
d1 = {'item': ['Sugar', 'Bread', 'Juice', 'Soda', 'Flour']}
df1 = pd.DataFrame(data=d1)

In [3]:
df1['Item Cart 1'] = df1['item']

In [4]:
df1.set_index('item')

      Item Cart 1
item
Sugar       Sugar
Bread       Bread
Juice       Juice
Soda         Soda
Flour       Flour

In [5]:
df1.head()

    item Item Cart 1
0  Sugar       Sugar
1  Bread       Bread
2  Juice       Juice
3   Soda        Soda
4  Flour       Flour

In [7]:
d2 = {'item': ['Sugar', 'Bread', 'Butter', 'Cheese', 'Fruit']}
df2 = pd.DataFrame(data=d2)

In [8]:
df2['Item Cart 2'] = df2['item']

In [9]:
df2.head()

     item Item Cart 2
0   Sugar       Sugar
1   Bread       Bread
2  Butter      Butter
3  Cheese      Cheese
4   Fruit       Fruit

In [10]:
df2.set_index('item')

       Item Cart 2
item
Sugar        Sugar
Bread        Bread
Butter      Butter
Cheese      Cheese
Fruit        Fruit

In [17]:
df3 = df1.merge(df2, how="outer")[['Item Cart 1', 'Item Cart 2']]

In [18]:
df3

  Item Cart 1 Item Cart 2
0       Sugar       Sugar
1       Bread       Bread
2       Juice         NaN
3        Soda         NaN
4       Flour         NaN
5         NaN      Butter
6         NaN      Cheese
7         NaN       Fruit