In [ ]:
!pip install ipython-sql

In [1]:
%load_ext sql

In [2]:
%sql postgresql+psycopg2://postgres:superPassWork22@localhost:5555/SQLPuzzles

### Puzzle 1

In [8]:
%%capture --no-display
%%sql

DROP TABLE IF EXISTS Cart1;
DROP TABLE IF EXISTS Cart2;

CREATE TABLE Cart1
(
Item  VARCHAR(100) PRIMARY KEY
);

CREATE TABLE Cart2
(
Item  VARCHAR(100) PRIMARY KEY
);

INSERT INTO Cart1 (Item) VALUES
('Sugar'),('Bread'),('Juice'),('Soda'),('Flour');

INSERT INTO Cart2 (Item) VALUES
('Sugar'),('Bread'),('Butter'),('Cheese'),('Fruit');

[]

In [9]:
%%capture --no-display
%%sql

SELECT *
FROM Cart1
FULL OUTER JOIN Cart2 ON Cart1.item = Cart2.item

[('Sugar', 'Sugar'),
 ('Bread', 'Bread'),
 ('Juice', None),
 ('Soda', None),
 ('Flour', None),
 (None, 'Fruit'),
 (None, 'Butter'),
 (None, 'Cheese')]

### Puzzle 2

In [10]:
%%capture --no-display
%%sql

DROP TABLE IF EXISTS Employees;

CREATE TABLE Employees
(
EmployeeID  INTEGER PRIMARY KEY,
ManagerID   INTEGER NULL,
JobTitle    VARCHAR(100) NOT NULL
);

INSERT INTO Employees (EmployeeID, ManagerID, JobTitle) VALUES
(1001,NULL,'President'),(2002,1001,'Director'),
(3003,1001,'Office Manager'),(4004,2002,'Engineer'),
(5005,2002,'Engineer'),(6006,2002,'Engineer');

[]

### Puzzle 3

In [ ]:
%%capture --no-display
%%sql

DROP TABLE IF EXISTS EmployeePayRecords;

CREATE TABLE EmployeePayRecords
(
EmployeeID  INTEGER,
FiscalYear  INTEGER,
StartDate   DATE,
EndDate     DATE,
PayRate     MONEY
);

### Puzzle 4

In [11]:
%%capture --no-display
%%sql

DROP TABLE IF EXISTS Orders;

CREATE TABLE Orders
(
CustomerID     INTEGER,
OrderID        INTEGER,
DeliveryState  VARCHAR(100) NOT NULL,
Amount         MONEY NOT NULL,
PRIMARY KEY (CustomerID, OrderID)
);

INSERT INTO Orders (CustomerID, OrderID, DeliveryState, Amount) VALUES
(1001,1,'CA',340),(1001,2,'TX',950),(1001,3,'TX',670),
(1001,4,'TX',860),(2002,5,'WA',320),(3003,6,'CA',650),
(3003,7,'CA',830),(4004,8,'TX',120);

[]

In [18]:
%%capture --no-display
%%sql

SELECT *
FROM Orders
WHERE DeliveryState = 'TX'
LIMIT (
SELECT COUNT(customerid)
FROM Orders
WHERE DeliveryState = 'CA'
);

[(1001, 2, 'TX', '$950.00'),
 (1001, 3, 'TX', '$670.00'),
 (1001, 4, 'TX', '$860.00')]

### Puzzle 5

In [20]:
%%capture --no-display
%%sql

DROP TABLE IF EXISTS PhoneDirectory;

CREATE TABLE PhoneDirectory
(
CustomerID  INTEGER,
[Type]      VARCHAR(100),
PhoneNumber VARCHAR(12) NOT NULL,
PRIMARY KEY (CustomerID, [Type])
);

INSERT INTO PhoneDirectory (CustomerID, [Type], PhoneNumber) VALUES
(1001,'Cellular','555-897-5421'),
(1001,'Work','555-897-6542'),
(1001,'Home','555-698-9874'),
(2002,'Cellular','555-963-6544'),
(2002,'Work','555-812-9856'),
(3003,'Cellular','555-987-6541');