In [5]:
from sqlalchemy import create_engine

engine = create_engine("postgresql+psycopg2://postgres:superPassWork22@localhost:5555/SQLPuzzles")

In [6]:
conn = engine.connect()

In [10]:
from sqlalchemy.sql import text

In [11]:
query = ("SELECT *", "FROM Cart1", "FULL OUTER JOIN Cart2")

TypeError: text() takes 1 positional argument but 3 were given

In [13]:
reulst = conn.execute(text("SELECT * FROM Cart1"))

### Puzzle 1

In [14]:
[x for x in reulst]

[('Sugar',), ('Bread',), ('Juice',), ('Soda',), ('Flour',)]

In [17]:
result = conn.execute(text("SELECT * FROM Cart1 FULL OUTER JOIN Cart2 ON Cart1.item = Cart2.item"))

In [18]:
[x for x in result]

[('Sugar', 'Sugar'),
 ('Bread', 'Bread'),
 ('Juice', None),
 ('Soda', None),
 ('Flour', None),
 (None, 'Fruit'),
 (None, 'Butter'),
 (None, 'Cheese')]

In [ ]:
query1 = """
CREATE TABLE Cart1
(
Item  VARCHAR(100) PRIMARY KEY
);
"""

query2 = """
CREATE TABLE Cart2
(
Item  VARCHAR(100) PRIMARY KEY
);
"""


query3 = """
INSERT INTO Cart1 (Item) VALUES
('Sugar'),('Bread'),('Juice'),('Soda'),('Flour');
"""

query4 = """
INSERT INTO Cart2 (Item) VALUES
('Sugar'),('Bread'),('Butter'),('Cheese'),('Fruit');
"""

In [ ]:
executeSQL(query1)
executeSQL(query2)
executeSQL(query3)
executeSQL(query4)

In [ ]:
queryPuzzle1 = """
SELECT *
FROM Cart1
FULL OUTER JOIN Cart2
ON Cart1.item = Cart2.item
"""

In [ ]:
selectSQL(queryPuzzle1)

In [ ]:
queryPuzzle1 = """
SELECT *
FROM Cart1
JOIN Cart2
ON Cart1.Item = Cart2.Item
"""

In [ ]:
selectSQL(queryPuzzle1)

In [ ]:
dropTables(["Cart1", "Cart2"])

In [ ]:
executeSQL(query5)

In [ ]:
executeSQL(query1)
executeSQL(query2)
executeSQL(query3)
executeSQL(query4)

In [ ]:
selectSQL("SELECT * FROM Cart1")