## Advanced SQL Puzzles with R

Solving and enjoing SQL puzzles wtih R! <br>
As author said:
>Working through these puzzles will give you an understanding of the SQL language and what types of
problems the SQL language best solves.

First time I am using R language<br>
Thanks to __Garrett Grolemund__ and his book __Hands-On Programming with R__

__[More about puzzles and author](https://advancedsqlpuzzles.com/)__

### Setup

Install R.
Use the R terminal to install R packages:
install.packages("IRkernel")
IRkernel::installspec()
IRkernel::installspec(user = FALSE)

In [1]:
R.Version()

$platform
[1] "x86_64-w64-mingw32"

$arch
[1] "x86_64"

$os
[1] "mingw32"

$crt
[1] "ucrt"

$system
[1] "x86_64, mingw32"

$status
[1] ""

$major
[1] "4"

$minor
[1] "3.0"

$year
[1] "2023"

$month
[1] "04"

$day
[1] "21"

$`svn rev`
[1] "84292"

$language
[1] "R"

$version.string
[1] "R version 4.3.0 (2023-04-21 ucrt)"

$nickname
[1] "Already Tomorrow"

In [2]:
install.packages("dplyr")

Installing package into 'C:/Users/the_r/AppData/Local/R/win-library/4.3'
(as 'lib' is unspecified)

also installing the dependencies 'pkgconfig', 'withr', 'generics', 'magrittr', 'R6', 'tibble', 'tidyselect'

package 'pkgconfig' successfully unpacked and MD5 sums checked
package 'withr' successfully unpacked and MD5 sums checked
package 'generics' successfully unpacked and MD5 sums checked
package 'magrittr' successfully unpacked and MD5 sums checked
package 'R6' successfully unpacked and MD5 sums checked
package 'tibble' successfully unpacked and MD5 sums checked
package 'tidyselect' successfully unpacked and MD5 sums checked
package 'dplyr' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\the_r\AppData\Local\Temp\RtmpMDSVwF\downloaded_packages

In [3]:
library(dplyr)

Attaching package: 'dplyr'


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [39]:
install.packages("pivottabler")

Installing package into 'C:/Users/the_r/AppData/Local/R/win-library/4.3'
(as 'lib' is unspecified)

also installing the dependencies 'fs', 'rappdirs', 'sass', 'cachem', 'memoise', 'mime', 'stringi', 'highr', 'xfun', 'bslib', 'fontawesome', 'jquerylib', 'stringr', 'tinytex', 'yaml', 'knitr', 'rmarkdown', 'data.table', 'htmlwidgets'

package 'fs' successfully unpacked and MD5 sums checked
package 'rappdirs' successfully unpacked and MD5 sums checked
package 'sass' successfully unpacked and MD5 sums checked
package 'cachem' successfully unpacked and MD5 sums checked
package 'memoise' successfully unpacked and MD5 sums checked
package 'mime' successfully unpacked and MD5 sums checked
package 'stringi' successfully unpacked and MD5 sums checked
package 'highr' successfully unpacked and MD5 sums checked
package 'xfun' successfully unpacked and MD5 sums checked
package 'bslib' successfully unpacked and MD5 sums checked
package 'fontawesome' successfully unpacked and MD5 sums checked
package 'jquerylib' successfully unpacked and MD5 sums checked
package 'stringr' successfully unpacked and MD5 sums checked
package 'tinytex' successfully unpacked and MD5 sums checked
package 'yaml' successfully unpacked and MD5 sums checked
package 'knitr' successfully unpacked and MD5 sums checked
package 'rmarkdown' successfully unpacked and MD5 sums checked
package 'data.table' successfully unpacked and MD5 sums checked
package 'htmlwidgets' successfully unpacked and MD5 sums checked
package 'pivottabler' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\the_r\AppData\Local\Temp\RtmpMDSVwF\downloaded_packages

In [40]:
library(pivottabler)

### Puzzle 1

In [4]:
item <- c("Sugar", "Bread", "Juice", "Soda", "Flour")
df1 <- data.frame(item)

In [25]:
print (df1)

   item ItemsCart1
1 Sugar      Sugar
2 Bread      Bread
3 Juice      Juice
4  Soda       Soda
5 Flour      Flour

In [6]:
item <- c('Sugar', 'Bread', 'Butter', 'Cheese', 'Fruit')
df1_ <- data.frame(item)

In [26]:
print (df1_)

    item ItemsCart1
1  Sugar      Sugar
2  Bread      Bread
3 Butter     Butter
4 Cheese     Cheese
5  Fruit      Fruit

In [23]:
df1$ItemsCart1 = df1$item

In [24]:
df1_$ItemsCart1 = df1_$item

In [27]:
full_join <- full_join(df1,df1_,by="item")

In [28]:
print (full_join)

    item ItemsCart1.x ItemsCart1.y
1  Sugar        Sugar        Sugar
2  Bread        Bread        Bread
3  Juice        Juice         <NA>
4   Soda         Soda         <NA>
5  Flour        Flour         <NA>
6 Butter         <NA>       Butter
7 Cheese         <NA>       Cheese
8  Fruit         <NA>        Fruit

In [31]:
full_join[,c(2,3)]

  ItemsCart1.x ItemsCart1.y
1 Sugar        Sugar
2 Bread        Bread
3 Juice        NA
4 Soda         NA
5 Flour        NA
6 NA           Butter
7 NA           Cheese
8 NA           Fruit

###  Puzzle #4

In [42]:
CustomerID <- c(1001, 1001, 1001, 1001, 2002, 3003, 3003, 4004)
OrderID <- c(1, 2, 3, 4, 5, 6, 7, 8)
DeliveryState <- c('CA', 'TX', 'TX', 'TX', 'WA', 'CA', "CA", 'TX')
Amount <- c("$340", '$950', '$670', '$860', '$320', '$650', '$830', '$120')
df4 = data.frame(CustomerID, OrderID, DeliveryState, Amount)

In [44]:
print (df4)

  CustomerID OrderID DeliveryState Amount
1       1001       1            CA   $340
2       1001       2            TX   $950
3       1001       3            TX   $670
4       1001       4            TX   $860
5       2002       5            WA   $320
6       3003       6            CA   $650
7       3003       7            CA   $830
8       4004       8            TX   $120

In [48]:
filter(df4, DeliveryState == 'TX')

  CustomerID OrderID DeliveryState Amount
1 1001       2       TX            $950
2 1001       3       TX            $670
3 1001       4       TX            $860
4 4004       8       TX            $120

In [ ]:
head(dnow,4)

###  Puzzle #5

In [36]:
CustomerID  <- c(1001, 1001, 1001, 2002, 2002, 3003)
Type <- c("Cellular", "Work", "Home", "Cellular", "Work", "Cellular")
PhoneNumber <- c('555-897-5421', '555-897-6542', '555-698-9874', '555-963-6544', '555-812-9856', '555-987-6541')
df5 <- data.frame(CustomerID, Type, PhoneNumber)

In [45]:
print (df5)

  CustomerID     Type  PhoneNumber
1       1001 Cellular 555-897-5421
2       1001     Work 555-897-6542
3       1001     Home 555-698-9874
4       2002 Cellular 555-963-6544
5       2002     Work 555-812-9856
6       3003 Cellular 555-987-6541