In [1]:
import sqlite3
conn = sqlite3.connect(':memory:')

In [ ]:
!pip install ipython-sql

In [21]:
%sql

SELECT * FROM SampleData

SyntaxError: invalid syntax (Temp/ipykernel_18000/1028437723.py, line 3)

In [3]:
cur = conn.cursor()

In [ ]:
cur.execute("CREATE TABLE movie(title, year, score)")

In [4]:
cur.execute("CREATE TABLE SampleData (IntegerValue INTEGER);")

In [5]:
cur.execute("INSERT INTO SampleData VALUES(5),(6),(10),(10),(13), (14),(17),(20),(81),(90),(76);")

In [22]:
cur.execute('SELECT * FROM SampleData')

In [24]:
cur.fetchone()[0]

5

In [23]:
cur.description

(('IntegerValue', None, None, None, None, None, None),)

In [28]:
def executeSQL(conn, query):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    cur.execute(query)

In [34]:
def selectSQL(conn, query):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    cur.execute(query)

    rows = cur.fetchall()

    for row in rows:
        print(row)

In [35]:
selectSQL(conn, "SELECT * FROM SampleData")

(5,)
(6,)
(10,)
(10,)
(13,)
(14,)
(17,)
(20,)
(81,)
(90,)
(76,)

In [41]:
query = """
SELECT *
FROM SampleData
WHERE IntegerValue = 10
"""

In [42]:
res = cur.execute(query)
res.fetchall()

[(10,), (10,)]